<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream C.G</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream C.G</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bd5cbd711056414db2a9e3b87d5fc11d.png" alt="L2 value stream C.G" usemap="#id-bd5cbd711056414db2a9e3b87d5fc11dmap"/>
			   <map name="id-bd5cbd711056414db2a9e3b87d5fc11dmap">
				  		<area shape="rect" coords="1054,838,1223,887" href="../elements/id-729634.html"  target="element">
				  				<area shape="rect" coords="1018,370,1259,395" href="../elements/id-729634.html"  target="element">

				  		<area shape="rect" coords="1006,310,1271,407" href="../elements/id-711284.html"  target="element">
				  		<area shape="rect" coords="1054,898,1223,947" href="../elements/id-729684.html"  target="element">
				  				<area shape="rect" coords="1018,478,1259,503" href="../elements/id-729684.html"  target="element">

				  		<area shape="rect" coords="1006,418,1271,515" href="../elements/id-718345.html"  target="element">
				  		<area shape="rect" coords="1306,118,1559,179" href="../elements/id-a1c684cf872e4ac2874a7873f89202f3.html"  target="element">
				  		<area shape="rect" coords="1306,10,1559,107" href="../elements/id-5c5e5b36f8c84aec8123a392d72b8728.html"  target="element">
				  		<area shape="rect" coords="1570,10,1739,179" href="../elements/id-004df98f51294606866af83c7483aaec.html"  target="element">
				  		<area shape="rect" coords="82,898,251,947" href="../elements/id-729684.html"  target="element">
				  		<area shape="rect" coords="82,838,251,887" href="../elements/id-729592.html"  target="element">
				  		<area shape="rect" coords="82,718,251,767" href="../elements/id-729661.html"  target="element">
				  		<area shape="rect" coords="406,718,575,767" href="../elements/id-729676.html"  target="element">
				  		<area shape="rect" coords="406,898,575,947" href="../elements/id-729684.html"  target="element">
				  		<area shape="rect" coords="1054,718,1223,767" href="../elements/id-729651.html"  target="element">
				  		<area shape="rect" coords="406,838,575,887" href="../elements/id-729643.html"  target="element">
				  		<area shape="rect" coords="730,718,899,767" href="../elements/id-729667.html"  target="element">
				  				<area shape="rect" coords="46,370,287,395" href="../elements/id-729661.html"  target="element">

				  		<area shape="rect" coords="34,310,299,407" href="../elements/id-711337.html"  target="element">
				  				<area shape="rect" coords="370,262,611,287" href="../elements/id-729676.html"  target="element">

				  		<area shape="rect" coords="358,202,623,299" href="../elements/id-718383.html"  target="element">
				  				<area shape="rect" coords="370,478,611,503" href="../elements/id-729684.html"  target="element">

				  		<area shape="rect" coords="358,418,623,515" href="../elements/id-718345.html"  target="element">
				  				<area shape="rect" coords="46,586,287,611" href="../elements/id-729684.html"  target="element">

				  		<area shape="rect" coords="34,526,299,623" href="../elements/id-718345.html"  target="element">
				  				<area shape="rect" coords="46,478,287,503" href="../elements/id-729592.html"  target="element">

				  		<area shape="rect" coords="34,418,299,515" href="../elements/id-711321.html"  target="element">
				  				<area shape="rect" coords="370,370,611,395" href="../elements/id-729643.html"  target="element">

				  		<area shape="rect" coords="358,310,623,407" href="../elements/id-711331.html"  target="element">
				  				<area shape="rect" coords="46,262,287,287" href="../elements/id-729661.html"  target="element">

				  		<area shape="rect" coords="34,202,299,299" href="../elements/id-718341.html"  target="element">
				  				<area shape="rect" coords="1018,262,1259,287" href="../elements/id-729651.html"  target="element">

				  		<area shape="rect" coords="1006,202,1271,299" href="../elements/id-718342.html"  target="element">
				  				<area shape="rect" coords="694,262,935,287" href="../elements/id-729667.html"  target="element">

				  		<area shape="rect" coords="682,202,947,299" href="../elements/id-718338.html"  target="element">
				  						<area shape="rect" coords="358,94,623,155" href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html"  target="element">

				  				<area shape="rect" coords="346,58,635,167" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">
				  						<area shape="rect" coords="682,94,947,155" href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html"  target="element">

				  				<area shape="rect" coords="670,58,959,167" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">
				  						<area shape="rect" coords="1006,94,1271,155" href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html"  target="element">

				  				<area shape="rect" coords="994,58,1283,167" href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html"  target="element">
				  						<area shape="rect" coords="34,94,299,155" href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html"  target="element">

				  				<area shape="rect" coords="22,58,311,167" href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html"  target="element">

				  		<area shape="rect" coords="10,10,1295,179" href="../elements/id-2653d94e08524482adaf3439ed2972e3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
											    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten energie-uitwisseling </a> </td>
															    <td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
													    <td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
															    <td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
															    <td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
															    <td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
											    <td> <a href="../elements/id-718338.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
													    <td> <a href="../elements/id-729667.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
											    <td> <a href="../elements/id-718342.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
													    <td> <a href="../elements/id-729651.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
											    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
											    <td> <a href="../elements/id-711331.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
											    <td> <a href="../elements/id-711321.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
													    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
											    <td> <a href="../elements/id-718345.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
													    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
											    <td> <a href="../elements/id-718345.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
													    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
											    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
													    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-711337.html" target="element"> Metingen van energietransport en -netten beschikbaar krijgen </a> </td>
											    <td> <a href="../elements/id-711337.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
											    <td> <a href="../elements/id-729667.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
											    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
											    <td> <a href="../elements/id-729651.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
											    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
											    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
											    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
											    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
											    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-004df98f51294606866af83c7483aaec.html" target="element"> Marktpartij </a> </td>
											    <td> <a href="../elements/id-004df98f51294606866af83c7483aaec.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c5e5b36f8c84aec8123a392d72b8728.html" target="element"> Administratieve balans op de energiemarkt </a> </td>
											    <td> <a href="../elements/id-5c5e5b36f8c84aec8123a392d72b8728.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1c684cf872e4ac2874a7873f89202f3.html" target="element"> Energietoerekening </a> </td>
											    <td> <a href="../elements/id-a1c684cf872e4ac2874a7873f89202f3.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
											    <td> <a href="../elements/id-718345.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
													    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
											    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
											    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
													    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
											    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5a705a12904d4dfe8b9e41e5cea287cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a705a12904d4dfe8b9e41e5cea287cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f1b51266efff4c18996d653bc1bca488.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1b51266efff4c18996d653bc1bca488.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-a1c684cf872e4ac2874a7873f89202f3.html" target="element"> Energietoerekening </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-122f3e2c113e45b29d5731824280da10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-122f3e2c113e45b29d5731824280da10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-27e9477be57949c88be569724373f642.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27e9477be57949c88be569724373f642.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-5c5e5b36f8c84aec8123a392d72b8728.html" target="element"> Administratieve balans op de energiemarkt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fc40271eec2a4808b1a4524d339ad824.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc40271eec2a4808b1a4524d339ad824.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten energie-uitwisseling </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-4872d368f91c489194aa022f26e6d8e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-4872d368f91c489194aa022f26e6d8e7.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten energie-uitwisseling </a> </td>
																						<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-1d6fa34a6a41444fbbdefc7573a85f85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d6fa34a6a41444fbbdefc7573a85f85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
																				<td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-997e1647395b46b682636ebb955c58fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-997e1647395b46b682636ebb955c58fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-5a4418fc77f140809119eb142553ad57.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a4418fc77f140809119eb142553ad57.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-2df14b426d6849deb6f65822521ad0fc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2df14b426d6849deb6f65822521ad0fc.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
																						<td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f1e33ee8f41b47ad9a14817eda9c5088.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f1e33ee8f41b47ad9a14817eda9c5088.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
																						<td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																		<td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc94c15e1206447eb0e6964ea4c6e48f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc94c15e1206447eb0e6964ea4c6e48f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																		<td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																		<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1df9c6f2fc434a72818d7529d1cd4e09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1df9c6f2fc434a72818d7529d1cd4e09.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																		<td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d52fd9c9bdd44fb872182ba563567bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d52fd9c9bdd44fb872182ba563567bf.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																		<td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten energie-uitwisseling </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																		<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a9e3999402543d496f3ef10485f5684.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a9e3999402543d496f3ef10485f5684.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-82f1d106a53d48f18c025eb8ee62184c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82f1d106a53d48f18c025eb8ee62184c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																		<td> <a href="../elements/id-711337.html" target="element"> Metingen van energietransport en -netten beschikbaar krijgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87a1362330b8438c909da3f6417185c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87a1362330b8438c909da3f6417185c2.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13dd1cce089a422e8919afb8509aa005.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13dd1cce089a422e8919afb8509aa005.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5ff35f7cc1a4f5fa6a4fb90f32f1343.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5ff35f7cc1a4f5fa6a4fb90f32f1343.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																		<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c521b7b36bc043e093575bd1247cbff2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c521b7b36bc043e093575bd1247cbff2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711337.html" target="element"> Metingen van energietransport en -netten beschikbaar krijgen </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6ab90ac6e2b4f79a20c5b86f777eff0.html" target="element"> modification </a> </td>
																		<td> <a href="../elements/id-f6ab90ac6e2b4f79a20c5b86f777eff0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711337.html" target="element"> Metingen van energietransport en -netten beschikbaar krijgen </a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d8e1e517f64d4cffb5de2a0c58b51226.html" target="element"> deelnemer aan </a> </td>
																		<td> <a href="../elements/id-d8e1e517f64d4cffb5de2a0c58b51226.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-378327339d75440692c5c361e273d7dd.html" target="element"> door </a> </td>
																		<td> <a href="../elements/id-378327339d75440692c5c361e273d7dd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6277348d184454abd00af1c35445c1e.html" target="element"> door </a> </td>
																		<td> <a href="../elements/id-d6277348d184454abd00af1c35445c1e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																		<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6eadebd13219466f8c82cbacd8db5853.html" target="element"> op </a> </td>
																		<td> <a href="../elements/id-6eadebd13219466f8c82cbacd8db5853.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-301ec83e66f045ad95af50ded6fbe543.html" target="element"> gebaseerd op </a> </td>
																		<td> <a href="../elements/id-301ec83e66f045ad95af50ded6fbe543.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																		<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31077e76cd804957991dcb0393f4471e.html" target="element"> op </a> </td>
																		<td> <a href="../elements/id-31077e76cd804957991dcb0393f4471e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d4a5936ba7f4860844e9692882c5a58.html" target="element"> waargenomen met </a> </td>
																		<td> <a href="../elements/id-6d4a5936ba7f4860844e9692882c5a58.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-137c3eed3825478595486903dba52de2.html" target="element"> van of met </a> </td>
																		<td> <a href="../elements/id-137c3eed3825478595486903dba52de2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75fe8af13a4040608444a2a7602cb6d0.html" target="element"> op </a> </td>
																		<td> <a href="../elements/id-75fe8af13a4040608444a2a7602cb6d0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-143120fbe996458496e164eaa11dec63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-143120fbe996458496e164eaa11dec63.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c5e5b36f8c84aec8123a392d72b8728.html" target="element"> Administratieve balans op de energiemarkt </a> </td>
																		<td> <a href="../elements/id-004df98f51294606866af83c7483aaec.html" target="element"> Marktpartij </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2b6ef3ce3f2a41d0b89bd7b74453045a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b6ef3ce3f2a41d0b89bd7b74453045a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1c684cf872e4ac2874a7873f89202f3.html" target="element"> Energietoerekening </a> </td>
																		<td> <a href="../elements/id-5c5e5b36f8c84aec8123a392d72b8728.html" target="element"> Administratieve balans op de energiemarkt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f997ea047a4416ca7eac545038a5ad8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f997ea047a4416ca7eac545038a5ad8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1c684cf872e4ac2874a7873f89202f3.html" target="element"> Energietoerekening </a> </td>
																		<td> <a href="../elements/id-004df98f51294606866af83c7483aaec.html" target="element"> Marktpartij </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b1235c4d361446e9c910f1759e2e935.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b1235c4d361446e9c910f1759e2e935.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																		<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dbc803c52df2451d9923dd7584fd3ccf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbc803c52df2451d9923dd7584fd3ccf.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>